<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUueFN9q12u9Lf8yOQ-SJQousej2MlOUE</string>
	<key>GCM_SENDER_ID</key>
	<string>567683033096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alumobiledev.getItDone</string>
	<key>PROJECT_ID</key>
	<string>get-it-done-ab165</string>
	<key>STORAGE_BUCKET</key>
	<string>get-it-done-ab165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567683033096:ios:e639c8699c8f1c485b49bd</string>
</dict>
</plist>